body {
  font-size: 16px;
  line-height: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1, h2 {
  font-family: palatino linotype, serif;
  line-height: 1.2em;
}

a {
  text-decoration: none;
  color: #000000;
}

.header_logo {
  width: 100%;
  height: 100%;
  filter: blur(4px);
}

img {
  box-shadow: 10px 5px 5px grey;
}

/* Text on logo */

.header_inner {
  position: relative;
  text-align: center;
  color: #F3F3F3;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered_tuning {
  font-family: palatino linotype, serif;
}

.bio {
  display: none;
  font-size: 13px;
}

/* Projects block */

.projects {
  display: flex;
  flex-wrap: wrap;
}

.projectsHeader {
  width: 100%;
  text-align: center;
}

/* Animal Card */

.animal_card {
  width: 100%;
  text-align: center;
}


/* Portfolio Site */

.portfolio_site {
  width: 100%;
  text-align: center;
}

/* Hometown Site */

.hometown_site {
  width: 100%;
  text-align: center;
}

/* Footer */

footer {
  border-top: 1px solid #E0E0E0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

footer li {
  display: inline-block;
  margin-top: 0 1em;
}

footer a {
  text-decoration: none;
  color: #000000;
  padding: 1.5em;
  /* margin: auto; */
}

ul {
  list-style-type: none;
}
