@media screen and (min-width: 650px) {
  .portfolio_site, .hometown_site {
    width: 50%;
    order: 0;
  }
  .bio {
    display: block;
  }

  .animal_card {
    width: 100%;
    order: 2;
  }

  .centered_tuning {
    letter-spacing: 10px;
  }
}

@media screen and (min-width: 700px){
  .centered_tuning {
    font-size: 18px;
  }

  .bio{
    font-size: 15px;
  }
}

@media screen and (min-width: 850px) {
  main {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }

  .animal_card, .hometown_site, .portfolio_site {
    width: 33.3%;
  }
}

@media screen and (min-width: 1500px) {
  .centered_tuning {
    font-size: 20px;
    letter-spacing: 15px;
  }
}
